<div class="main">
  <mat-expansion-panel *ngFor="let effectTransformer of effectIngredientTransformers" [disabled]="mode === 'from'" (opened)="isExpanded = true" (closed)="isExpanded = false">
    <mat-expansion-panel-header style="height: auto">
      <div class="transformer">
        <p>{{mode === 'to' ? 'From' : 'For'}}</p>
        <effect-chip [effectType]="effectTransformer.from" *ngIf="mode === 'to'"></effect-chip>
        <effect-chip [effectType]="effectTransformer.to"  *ngIf="mode === 'from'"></effect-chip>
        <effect-difference style="padding-left: 32px" [fromEffectType]="effectTransformer.from"
                           [toEffectType]="effectTransformer.to"></effect-difference>
        <p>Using <u>{{ effectTransformer.sourceIngredient.name }}</u></p>

      </div>
    </mat-expansion-panel-header>

    <div *ngIf="isExpanded">
      <effect-node [effectType]="effectTransformer.from" [depth]="depth + 1" [mode]="mode"></effect-node>
    </div>
  </mat-expansion-panel>
  <p *ngIf="effectIngredientTransformers.length === 0 && isExpanded">
    No ingredients.
  </p>
</div>
