.main {
  &__totals {
    text-align: right;
    margin-left: auto;
    padding: 16px;
    max-width: 150px;
  }
}

.ingredients {
  display: flex;
  gap: 8px;
}

.totals {
  &__total {
    display: flex;
    justify-content: space-between;
    p {
      padding: 0;
      margin: 4px 0;
    }
  }
}
