<div class="main">
  <div>
    <div class="products">
      <h3>Starting Product</h3>
      <div class="products__selection">
        <button mat-flat-button *ngFor="let product of products" [disabled]="selectedProduct.id === product.id" (click)="onSelectProduct(product.id)">{{product.name}}</button>
      </div>
    </div>
    <div class="ingredients">
      <h3>Ingredients</h3>
      <p *ngIf="selectedIngredients.length === 0">No ingredients.</p>

      <mat-list>
        <mat-list-item *ngFor="let ingredient of selectedIngredients; let i = index" style="overflow: visible">
          <div class="ingredients__selected-row">
            <p>{{ ingredient.name }}</p>
            <button mat-icon-button [disabled]="i === 0" (click)="onIngredientMoveUp(ingredient, i)">
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button mat-icon-button [disabled]="i === selectedIngredients.length - 1"
                    (click)="onIngredientMoveDown(ingredient, i)">
              <mat-icon>arrow_downward</mat-icon>
            </button>
            <button mat-icon-button (click)="onIngredientDelete(ingredient, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>

      <div class="ingredients__selection">
        <mat-card *ngFor="let option of ingredientOptions">
          <mat-card-content>
            <div>
              <p>{{ option.ingredient.name }}</p>
              <p [ngStyle]="{
              color: option.multiplierDifference < 0 ? 'var(--mat-sys-error)' : 'var(--mat-sys-primary)'
            }">{{ option.multiplierDifference >= 0 ? '+' : '' }}{{ option.multiplierDifference.toFixed(2) }}</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onIngredientAdd(option.ingredient)">Add Ingredient</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div>
    <div class="effects">
      <h3>Effects</h3>
      <p *ngIf="currentEffects.length === 0">No additional effects.</p>
      <mat-card *ngIf="currentEffects.length !== 0">
        <mat-card-content>
          <effect-chip *ngFor="let effect of currentEffects" [effectType]="effect.id"
                       [includeMultiplier]="true"></effect-chip>
        </mat-card-content>
      </mat-card>
      <div class="effects__totals">
        <div class="totals__total">
          <p>Total Ingredients:</p>
          <p>{{ selectedIngredients.length }}</p>
        </div>
        <h4><u>= ${{ currentTotalCost }} per unit</u></h4>
      </div>
      <div class="effects__totals">
        <div class="totals__total">
          <p>Starting Price: </p>
          <p>${{ currentStartingPrice }}</p>
        </div>
        <div class="totals__total">
          <p>Multiplier:</p>
          <p>x{{ currentTotalMultiplier.toFixed(2) }}</p>
        </div>
        <h4><u>= ${{ currentTotalPrice }} per unit</u></h4>
      </div>
      <h1 class="profit">Profit = ${{currentTotalPrice - currentTotalCost}}</h1>
    </div>
  </div>
</div>
