.main {
  padding-bottom: 128px;

  @media(width <= 1500px){
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  @media(width > 1500px){
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 64px;
  }
}

.products {
  &__selection {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__selected-row {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    max-width: 300px;
  }

  &__selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
  }
}

.effects {
  &__totals {
    text-align: right;
    margin-left: auto;
    padding: 16px;
    max-width: 150px;
  }
}

.totals {
  &__total {
    display: flex;
    justify-content: space-between;
    p {
      padding: 0;
      margin: 4px 0;
    }
  }
}

.profit {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.save-and-load {
  margin-top: 32px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 16px;
  &__mixes {
    display: flex;
    gap: 8px;
  }
  &__actions {
    display: flex;
    gap: 8px;
  }
}

.mix {
  display: flex;
  gap: 8px;
  align-items: center;
  p {
    margin: 0;
  }
}
