<div class="main">
  <div class="table">
    <table mat-table [dataSource]="effects" *ngIf="!shouldHideListWhenSelected || !selectedEffect">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let effect"> <p [style.color]="effect.color">{{effect.name}}</p> </td>
      </ng-container>
      <ng-container matColumnDef="multiplier">
        <th mat-header-cell *matHeaderCellDef>Multiplier</th>
        <td mat-cell *matCellDef="let effect"> x{{effect.multiplier.toFixed(2)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row [class.row--selected]="selectedEffect === row" (click)="onRowClicked(row)" *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </div>

  <div *ngIf="selectedEffect">
    <div class="actions">
      <button mat-icon-button (click)="onClearSelection()"><mat-icon>arrow_back</mat-icon></button>
    </div>
  <mat-card class="selected" *ngIf="selectedEffect">
    <mat-card-header>
      <div>
        <h2>{{selectedEffect.name}}</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <h3>Created from:</h3>
      <div class="selected__node">
        <effect-node [depth]="0" [effectType]="selectedEffect.id" [mode]="'to'"></effect-node>
      </div>

      <h3>Dependency for:</h3>
      <div class="selected__node">
        <effect-node [depth]="0" [effectType]="selectedEffect.id" [mode]="'from'"></effect-node>
      </div>
    </mat-card-content>
  </mat-card>
  </div>
</div>
